@page
@model TémaLab.UserDetailModel
@{
    ViewData["Title"] = "UserDetail";
}

    <div>
        <img class="img-fluid" src="~/Images/profipic.png" width="40" height="50"><br>
        <h3>@Model.user.UserName</h3>
        <ul class="list-gourp">
            <li class="list-group-item">
                @if (Model.user.Id == Model.thisId)
                {
                    <a type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" id="EditProfileLink">Edit profile</a>
                }
                else
                {
                    <button type="button" class="btn btn-primary">Add Friend</button>
                }

            </li>
            <li class="list-group-item">
                Rank: @Model.user.rank
            </li>
            <li class="list-group-item">
                Score: @Model.user.score
            </li>
        </ul>
        <span>
            About me: <br>
            @Model.user.Introduction
        </span>
    </div>
