body {
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-color: black;
    background-attachment: fixed;
    color: white;
}

    body::-webkit-scrollbar {
        width: 0.75rem;
    }

    body::-webkit-scrollbar-thumb {
        background: #6649b8;
    }

    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }
.Left-User-menu{
}

.Left-User-menu-Profile-Picture{
    width: 50%;
    height: auto;
    opacity: 1;
}

.Left-User-menu-item{
    opacity: 0.90;
    color: white;
    background-color: black;
}

.post {
    padding-bottom: 0.5%;
    margin-bottom: 5%;
    background-color: black;
    opacity: 0.90;
    color: white;
    border: none;
    width: 100%;
    height: auto;
}

.postProfilePicture{
   width: 10%;
   height: auto;
   opacity: 1;
}

.friendProfilePicture{
    width: 25%;
    height: auto;
    opacity: 1;
}
.friend {
    border-bottom: solid;
    border-color: lightgray;
    border-bottom-width: thin;
    margin-bottom: 10px;
}

.nicelink {
    color: white;
}

.nicelink:hover {
    color: darkslategray;
    text-decoration:none;
}

.PostInputBox{
    padding: 0px;
    opacity: 90;
    margin-bottom: 5%;
}

.PostInputBox-TextInput {
    opacity: 90;
    color: white;
    border: solid;
    border-color: whitesmoke;
    border-width: thin;
}

