
/*/*Post Css szabályok*/
.post {
    padding-bottom: 0.5%;
    margin-bottom: 5%;
    /*background-color: black;*/
    opacity: 0.90;
    /*color: white;*/
    border: hidden;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.postProfilePicture{
   width: 10%;
   height: auto;
   opacity: 1;
}

.PostInputBox {
    padding: 0px;
    opacity: 90;
    margin-bottom: 5%;
}

.PostInputBox-TextInput {
    opacity: 90;
    color: white;
    border: solid;
    border-color: whitesmoke;
    border-width: thin;
}

/*Friend-hez kapcsolodó szabályok*/

.friendProfilePicture{
    width: 25%;
    height: auto;
    opacity: 1;
}
.friend {
    border-bottom: solid;
    border-color: lightgray;
    border-bottom-width: thin;
    margin-bottom: 10px;
}

/*Link szabályok*/

/*.nicelink {
    color: white;
}

.nicelink:hover {
    color: darkslategray;
    text-decoration:none*/;
}*/

