
.UpComingTitles {
    padding-bottom: 0.5%;
    margin-bottom: 5%;
    background-color: none;
    border: none;
    width: 100%;
    height: auto;
    color: white;
}

.Title{
    border-radius: 25px;
    background-color: black;
    width: 100%;
    text-align: center;
    opacity: 0.90;
    color: white;
}

.Event{
    background-color: black;
    opacity: 0.95;
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin: 0.5%;
    color: white;
}

.CompetitionFotterText{
    padding-left: 0.5%;
    color: white;
}
