@page
@model TémaLab.EditModel

@{
    Layout = "_Layout";
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


    <div class="card col">
        <h4>Competition Editing</h4>
        <hr />
        <div class="row">
            <div class="col">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CompetitionDto.Id" />

                    <div class="form-group card-title col">
                        <label asp-for="CompetitionDto.Title" class="control-label"></label>
                        <input asp-for="CompetitionDto.Title" class="form-control" />
                        <span asp-validation-for="CompetitionDto.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group card-body col">
                        <label asp-for="CompetitionDto.Content" class="control-label"></label> 
                        <textarea asp-for="CompetitionDto.Content" class="form-control card-text col" rows="10"></textarea>
                        <span asp-validation-for="CompetitionDto.Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>