@page
@model TémaLab.IndexModel

@{
    Layout = "_Layout";
}


<h1 class="Title">Competitions</h1>
@if (Model.User != null)
{
    @if (Model.User.Admin)
    {
        <p>
            <a class="btn btn-primary" asp-page="Create">Create New</a>
        </p>
    }
}

@foreach (var item in Model.Competitons)
{
    <div class="card">
        <vc:competition competiton="item"></vc:competition>
    </div>
}
