@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    void RenderPost(Data.DTOs.PostDto post)
    {
        <li class="list-group-item post">
            <div class="container" id="post">
                <div>
                    @*<img src="~/Images/profipic.png" class="postProfilePicture">*@
                    <a class="nicelink" href="#">@post.User.UserName</a>
                </div>
                <hr>
                <p>
                    @post.Content
                </p>
                <hr>
                <div>
                    <div>
                        <a href="#" style="margin-right: 20px;">Like</a>
                        <a href="#">Comment</a>
                    </div>
                </div>
            </div>
            <div>
                <h5>Commentents:</h5>
                    @foreach(var comment in post.Comments)
                    {
                        RenderComment(comment);
                    }
            </div>
        </li>
    }

    void RenderComment(Data.Entities.Comment comment)
    {
        <div class="post">
            <h6>comment.User.UserName</h6>
            <br />
            <p>@comment.Content</p>
        </div>
    }
}


<div class="container">
    <div class="col" id="Posts">
        <ul class="list-gorup col">
            @foreach(var post in Model.Posts)
            {
                RenderPost(post);
            }


        </ul>
    </div>
</div>