@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Base.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <div class="container">
        <!--  Conteainer for contetnt. Ez a grid rendszer amibe bele rakunk több elemet. Külső Container-->
        <div class="container" id="contect">
            <!-- Container első sora. Ebben a sorban van a Left-user-Menu és a Header szöveg.-->
            <div class="row" id="FirstRow">
                <!--Col. Ebben az oszlopban van a Left-User-Menu-->
                <div class="col Left-User-menu">
                    <ul class="list-gourp">
                        <li class="list-group-item Left-User-menu-item">
                            <img class="img-fluid" src="~/Images/profipic.png" ><br>
                            <a asp-area="" asp-page="/MyProfile"><h3>Your Name</h3></a>
                        </li>
                        <li class="list-group-item Left-User-menu-item">
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Upcoming Events</button>
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Upcoming Competetions</button>
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Leader Board</button>
                        </li>
                    </ul>
                </div>
                <!--Ide jön a Postok/Eventek Megjelenítése. Az-az Cardok kihelyezése.-->

                <div class="col-9" id="Posts">
                    <ul class="list-gorup col">
                        <li class="list-group-item post">
                            <div class="container" id="post">
                                <div>
                                    <img src="~/Images/profipic.png" class="postProfilePicture" >
                                    Poster's Name
                                </div>
                                <hr>
                                <p>
                                    This is what a post will look like. </br>
                                    Simple text for sharing your thoughts with your friends.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
