@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <style>
        #post {
            background-color: lightblue;
            border-radius: 10px;
            border: 2px solid grey;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body style="background-color: lightgray;">
    <div class="container">
        <!--  Conteainer for contetnt. Ez a grid rendszer amibe bele rakunk több elemet. Külső Container-->
        <div class="container" id="contect">
            <!-- Container első sora. Ebben a sorban van a Left-user-Menu és a Header szöveg.-->
            <div class="row" id="FirstRow">
                <!--Col. Ebben az oszlopban van a Left-User-Menu-->
                <div class="col Left-User-menu">
                    <ul class="list-gourp Left-User-menu">
                        <li class="list-group-item">
                            <img class="img-fluid" src="~/Images/profipic.png" height="100"><br>
                            <a asp-area="" asp-page="/MyProfile"><h2>Your Name</h2></a>
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="list-group-item list-group-item-action">Upcoming Events</button>
                            <button type="button" class="list-group-item list-group-item-action">Upcoming Competetions</button>
                            <button type="button" class="list-group-item list-group-item-action">Leader Board</button>
                        </li>
                    </ul>
                </div>
                <!--Ide jön a Postok/Eventek Megjelenítése. Az-az Cardok kihelyezése.-->

                <div class="col-9" id="Posts">
                    <ul class="list-gorup col" style="padding: 0px;">
                        <li class="list-group-item post" style="background-color: lightgray;">
                            <div class="container" id="post">
                                <div>
                                    <img src="~/Images/profipic.png" height="50" width="50">
                                    Poster's Name
                                </div>
                                <hr>
                                <p>
                                    This is what a post will look like. </br>
                                    Simple text for sharing your thoughts with your friends.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post" style="background-color: lightgray;">
                            <div class="card" id="post">
                                <img src="~/Images/contest_image.png" height="150" class="card-img-top" style="border:solid grey; border-radius: 10px">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Contest name</b></h3>
                                    <span style="float:right">
                                        Creator name
                                    </span>
                                    <p class="card-text">Totally interesting contest describtion, that'll get you to want to play. </p>
                                    <div>
                                        <a href="#" class="btn btn-primary">Join Contest</a>
                                        <span style="float:right">
                                            Number of palyers: 6/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post" style="background-color: lightgray;">
                            <div class="container" id="post">
                                <div>
                                    <img src="~/Images/profipic.png" height="50" width="50">
                                    Poster's Name
                                </div>
                                <hr>
                                <p>
                                    This is what a post will look like. </br>
                                    Simple text for sharing your thoughts with your friends.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post" style="background-color: lightgray;">
                            <div class="container" id="post">
                                <div>
                                    <img src="~/Images/profipic.png" height="50" width="50">
                                    Poster's Name
                                </div>
                                <hr>
                                <p>
                                    This is what a post will look like. </br>
                                    Simple text for sharing your thoughts with your friends.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post" style="background-color: lightgray;">
                            <div class="card" id="post">
                                <img src="~/Images/contest_image.png" height="150" class="card-img-top" style="border:solid grey; border-radius: 10px">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Contest name</b></h3>
                                    <span style="float:right">
                                        Creator name
                                    </span>
                                    <p class="card-text">Totally interesting contest describtion, that'll get you to want to play. </p>
                                    <div>
                                        <a href="#" class="btn btn-primary">Join Contest</a>
                                        <span style="float:right">
                                            Number of palyers: 6/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post" style="background-color: lightgray;">
                            <div class="card" id="post">
                                <img src="~/Images/contest_image.png" height="150" class="card-img-top" style="border:solid grey; border-radius: 10px">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Contest name</b></h3>
                                    <span style="float:right">
                                        Creator name
                                    </span>
                                    <p class="card-text">Totally interesting contest describtion, that'll get you to want to play. </p>
                                    <div>
                                        <a href="#" class="btn btn-primary">Join Contest</a>
                                        <span style="float:right">
                                            Number of palyers: 6/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
