@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Base.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <div class="container">
                <div class="col" id="Posts">
                    <ul class="list-gorup col">
                        <li class="list-group-item post">
                            <div class="container" id="post">
                                <div>
                                    <img src="~/Images/profipic.png" class="postProfilePicture">

                                    <a class="nicelink" asp-area="" asp-page="/OtherProfile">Poster's Name</a>
                                </div>
                                <hr>
                                <p>
                                    This is what a post will look like. <br>
                                    Simple text for sharing your thoughts with your friends.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post">
                            <div class="card post">
                                <img src="~/Images/contest_image.png" height="150" class="card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Contest name</b></h3>
                                    <span style="float:right">
                                        <a class="nicelink" asp-area="" asp-page="/OtherProfile">Creator name</a>
                                    </span>
                                    <p class="card-text">Totally interesting contest describtion, that'll get you to want to play. </p>
                                    <div>
                                        <a href="#" class="btn btn-primary">Join Contest</a>
                                        <span style="float:right">
                                            Number of palyers: 6/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post">
                            <div class="card post">
                                <img src="~/Images/contest_image.png" height="150" class="card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Contest name</b></h3>
                                    <span style="float:right">
                                        <a class="nicelink" asp-area="" asp-page="/OtherProfile">Creator name</a>
                                    </span>
                                    <p class="card-text">Totally interesting contest describtion, that'll get you to want to play. </p>
                                    <div>
                                        <a href="#" class="btn btn-primary">Join Contest</a>
                                        <span style="float:right">
                                            Number of palyers: 6/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post">
                            <div class="container post">
                                <div>
                                    <img src="~/Images/profipic.png" height="50" width="50">
                                    <a class="nicelink" asp-area="" asp-page="/OtherProfile">Poster's Name</a>

                                    Poster's Name

                                </div>
                                <hr>
                                <p>
                                    This is what a post will look like.
                                    Simple text for sharing your thoughts with your friends.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>

                        <li class="list-group-item post">
                            <div class="card post">
                                <img src="~/Images/contest_image.png" height="150" class="card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Contest name</b></h3>
                                    <span style="float:right">
                                        Creator name
                                    </span>
                                    <p class="card-text">Totally interesting contest describtion, that'll get you to want to play. </p>
                                    <div>
                                        <a href="#" class="btn btn-primary">Join Contest</a>
                                        <span style="float:right">
                                            Number of palyers: 6/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post">

                            <div class="card post">
                                <img src="~/Images/contest_image.png" height="150" class="card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Contest name</b></h3>
                                    <span style="float:right">
                                        <a class="nicelink" asp-area="" asp-page="/OtherProfile">Creator name</a>
                                    </span>
                                    <p class="card-text">Totally interesting contest describtion, that'll get you to want to play. </p>
                                    <div>
                                        <a href="#" class="btn btn-primary">Join Contest</a>
                                        <span style="float:right">
                                            Number of palyers: 6/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post">
                            <div class="container post">
                                <div>
                                    <img src="~/Images/profipic.png" height="50" width="50">
                                    <a class="nicelink" asp-area="" asp-page="/OtherProfile">Poster's Name</a>

                                </div>
                                <hr>
                                <p>
                                    This is another example for a post, so that the page looks more convincing.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
