@page
@model TémaLab.IntroductionModel
@{
    ViewData["Title"] = "Introduction";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Gyak</Title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" ; integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ; integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ; integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ; integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/Base.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">

</head>
<body>
    <div class="container">
        <!--  Conteainer for contetnt. Ez a grid rendszer amibe bele rakunk több elemet. Külső Container-->
        <div class="container" id="contect">
            <!-- Container első sora. Ebben a sorban van a Left-user-Menu és a Header szöveg.-->
            <div class="row" id="FirstRow">
                <!--Col. Ebben az oszlopban van a Left-User-Menu-->
                <div class="col Left-User-menu">
                    <ul class="list-gourp">
                        <li class="list-group-item Left-User-menu-item">
                            <img class="img-fluid" src="~/Images/profipic.png"><br>
                            <a class="nicelink" asp-area="" asp-page="/MyProfile"><h3>Your Name</h3></a>
                        </li>
                        <li class="list-group-item Left-User-menu-item">
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Introduction</button>
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Friends</button>
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Upcoming Events</button>
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Upcoming Competetions</button>
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Leader Board</button>
                            <button type="button" class="list-group-item list-group-item-action Left-User-menu-item">Edit profile</button>
                        </li>
                    </ul>
                </div>
                <div class="col-9">
                    <ul class="list-gorup col">
                        <li class="list-group-item post">
                            <div>
                                <h2>Introduction</h2>
                            </div>
                        </li>
                        <li class="list-group-item post">
                            <div class="container post">
                                <div>
                                    <img src="~/Images/profipic.png" height="50" width="50">
                                    Poster's Name
                                </div>
                                <hr>
                                <p>
                                    Hi My name is Test Profile and I'm pretty boring. <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra rhoncus dapibus. Sed eu sem volutpat, bibendum sem quis, tincidunt quam. Morbi nibh quam, rhoncus ac pulvinar eu, faucibus at ligula. Mauris mauris tortor, tempor porta condimentum congue, faucibus id nulla. Suspendisse imperdiet velit et massa volutpat, at molestie ligula fermentum. Fusce hendrerit pellentesque consequat. Aenean non tincidunt mauris. Integer eu orci ut elit pretium dapibus. Mauris vestibulum nulla aliquet, fermentum orci a, sollicitudin elit. Etiam cursus viverra sem, at feugiat metus congue in.

                                    Donec vel condimentum neque, eget scelerisque urna. Suspendisse ex odio, pulvinar ac egestas non, tincidunt in ipsum. Quisque sagittis ut sem id luctus. Maecenas id mauris porttitor, maximus tellus at, congue lorem. Aenean aliquam ante eget felis eleifend aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed quis vehicula urna. Quisque at mauris augue. Cras sit amet semper ipsum. Pellentesque et lectus dolor. Mauris nunc velit, luctus sed lorem non, lobortis auctor diam. Morbi rutrum interdum erat vel sodales. Morbi posuere eros vel magna porta semper. Donec vitae massa et dui ultricies faucibus non in nulla. Praesent suscipit mattis arcu a pulvinar.
                                </p>
                                <hr>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>





