@page
@model TémaLab.OtherProfileModel
@{
    ViewData["Title"] = "OtherProfile";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Gyak</Title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" ; integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ; integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ; integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ; integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/Base.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <div class="container">
        <!--  Conteainer for contetnt. Ez a grid rendszer amibe bele rakunk több elemet. Külső Container-->
        <div class="container" id="contect">
            <!-- Container első sora. Ebben a sorban van a Left-user-Menu és a Header szöveg.-->
            <div class="row" id="FirstRow">
                <!--Col. Ebben az oszlopban van a Left-User-Menu-->
                <div class="col-lg-3 Left-User-menu">
                    <ul class="list-gourp">
                        <li class="list-group-item Left-User-menu-item">
                            <img class="img-fluid" src="~/Images/profipic.png"><br>
                            <a class="nicelink" asp-area="" asp-page="/OtherProfile"><h3>User Name</h3></a>
                            <button type="button" class="btn btn-primary">Add Friend</button>
                        </li>
                        <li class="list-group-item Left-User-menu-item">
                            <a asp-area="" asp-page="/Introduction" class="list-group-item list-group-item-action Left-User-menu-item">Introduction</a>
                            <a asp-area="" asp-page="/Friends" class="list-group-item list-group-item-action Left-User-menu-item">Friends</a>
                            <a asp-area="" asp-page="/UpcomingEvents" class="list-group-item list-group-item-action Left-User-menu-item">Upcoming Events</a>
                            <a asp-area="" asp-page="/UpcomingCompetitions" class="list-group-item list-group-item-action Left-User-menu-item">Upcoming Competetions</a>
                            <a asp-area="" asp-page="/LeaderBoard" class="list-group-item list-group-item-action Left-User-menu-item">Leader Board</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <ul class="list-gorup col">
                        <li class="list-group-item post">
                            <div class="container post">
                                <div>
                                    <img src="~/Images/profipic.png" height="50" width="50">
                                    <a class="nicelink" asp-area="" asp-page="/OtherProfile">User Name</a>
                                </div>
                                <hr>
                                <p>
                                    This is what a post will look like. </br>
                                    Simple text for sharing your thoughts with your friends.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post">
                            <div class="card post">
                                <img src="~/Images/contest_image.png" height="150" class="card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Contest name</b></h3>
                                    <span style="float:right">
                                        <a class="nicelink" asp-area="" asp-page="/OtherProfile">Creator name</a>
                                    </span>
                                    <p class="card-text">Totally interesting contest describtion, that'll get you to want to play. </p>
                                    <div>
                                        <a href="#" class="btn btn-primary">Join Contest</a>
                                        <span style="float:right">
                                            Number of palyers: 6/10
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item post">
                            <div class="container post">
                                <div>
                                    <img src="~/Images/profipic.png" height="50" width="50">
                                    <a class="nicelink" asp-area="" asp-page="/OtherProfile">User Name</a>
                                </div>
                                <hr>
                                <p>
                                    This is another example for a post, so that the page looks more convincing.
                                </p>
                                <hr>
                                <div>
                                    <div>
                                        <a href="#" style="margin-right: 20px;">Like</a>
                                        <a href="#">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>

