<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TémaLab</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" ; integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ; integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ; integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ; integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
        <link rel="stylesheet" type="text/css" href="~/css/sidepanel.css" />
        <link rel="stylesheet" type="text/css" href="/css/Base.css">
        <link rel="stylesheet" type="text/css" href="~/css/UpComing.css" />
    <style>
        #xlink {
            background-color: dodgerblue;
            color: white;
            border-radius: 5px;
            margin-left: 10px;
        }

            #xlink:hover {
                background-color: lightblue;
                color: white;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 0.5%;">
            <div class="container">

                <!--Ez itt a bal oldali lenyíló mneüjlé-->
                @if(User.Identity.IsAuthenticated){
                <button class="openbtn" onclick="openNav()">&#9776; </button>
                <div id="mySidepanel" class="sidepanel">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <img class="img Left-User-menu-Profile-Picture" src="~/Images/profipic.png"><br>
                    <a class="nicelink" asp-area="" asp-page="/MyProfile/Index"><h3>@User.Identity.Name</h3></a>

                    <!--TODO: A megeflelő mezők megjelenítsée a megfelelő oldalon JS kóddal. -->

                    <a asp-area="" asp-page="/Competitions/Index" id="UpcomingEventsLink">Competitions</a>
                    <a asp-area="" asp-page="/LeaderBoard" id="LeaderBoardLink">Leader Board</a>
                    <a asp-area="" asp-page="/Friends" id="FriendsLink"> Friends</a>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" id="EditProfileLink">Edit profile</a>

                </div>
                }
                <!--Innen indul a felső navbár-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="p-2 bd-highlight">
                        <ul class="navbar-nav ">
                            <li>
                                <!--class="navbar-brand img-fluid"-->
                                <a class="navbar-brand col" asp-area="" asp-page="/Index" style="padding: 0px; margin: 0px;">
                                    <img src="~/Images/MTGA_Logo.png" alt="MTGA logo" style="width: 30%; height: auto;" />
                                </a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-page="/MyProfile/Index">My Profile<span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - TémaLab - ez csak szöveg
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script>

        </script>
        @RenderSection("Scripts", required: false)

    </body>

</html>
