@model TémaLab.Model.CommentControllerModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="card">
    <div class="card-body">
        <h6><a>@Model.comment.User.UserName</a></h6>
        <br />
        <p class="card-text">@Model.comment.Content</p>
        <footer>
            <button class="btn btn-secondary">Like</button>
            @if(Model.user.Id == Model.comment.UserId || Model.user.Admin) 
            { 
                <button class="btn btn-danger">Delete</button>
            }
        </footer>
    </div>
</div>